.homeHeader {
    background-image: linear-gradient(
            var(--primary-layer),
            var(--primary-layer)
        ),
        url("../../assets/bg.jpg");
    background-size: cover;
    background-position: center;
}
